WAZUH_VERSION=4.14.7
WAZUH_DASHBOARD_PORT=8443
WAZUH_AGENT_PORT=1514
WAZUH_ENROLLMENT_PORT=1515
WAZUH_SYSLOG_PORT=514
WAZUH_AGENT_BIND_ADDRESS=0.0.0.0
WAZUH_INDEXER_JAVA_OPTS="-Xms1g -Xmx1g"
WAZUH_INDEXER_USERNAME=admin
WAZUH_INDEXER_PASSWORD=GENERATED_AT_BOOTSTRAP
WAZUH_DASHBOARD_USERNAME=kibanaserver
WAZUH_DASHBOARD_PASSWORD=GENERATED_AT_BOOTSTRAP
WAZUH_API_USERNAME=wazuh-wui
WAZUH_API_PASSWORD=GENERATED_AT_BOOTSTRAP
WAZUH_REGISTRATION_PASSWORD=GENERATED_AT_BOOTSTRAP
