---
_meta:
  type: internalusers
  config_version: 2

admin:
  hash: "__ADMIN_HASH__"
  reserved: true
  backend_roles:
    - admin
  description: "SanoliFood SOC indexer administrator"

kibanaserver:
  hash: "__DASHBOARD_HASH__"
  reserved: true
  description: "SanoliFood SOC dashboard service account"
